*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: var(--body);
	font: normal 100%/140% 'Inconsolata';
	color: #333;
}

#container{
	background: var(--container);
	width: 70vw;
	margin: 0 auto;
	border-left: solid 20px var(--body-border);
	border-right: solid 20px var(--body-border);
	padding: 5em 2em 2em;
	min-height: 100vh;
}

#blurb{
	margin: 2em auto;
	width: 90%;
}

#list{
	background-image: var(--list);
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%
}

h1{
	color: var(--h1);
	font: normal 300% 'Cookie', cursive;
	text-align: center;
}

h2{
	font: italic 150% 'Inconsolata';
	text-align: center;
}

#playlist{
	width: 90%;
	margin: 0 auto;
}

table td:nth-child(1){
	float: left;
  text-align: left;
  white-space: nowrap;
}

table.header th{
	font-weight: bold;
	text-transform: uppercase;
}

table td:nth-child(2), table th:nth-child(2){ 
	content: "";
  width: 100%;
  }

table.song td:nth-child(2) {
  border-bottom: 1px dotted #000;
}

table td:nth-child(3) {
  text-align: right;
  float: right;
  width: 100%;
  font-size: 100%;
  white-space: nowrap;
  line-height: 14px;
}

table.header th:nth-child(3){
text-align: right;
  float: right;
  width: 100%;
  font-size: 100%;
  white-space: nowrap;
  line-height: 14px;
  letter-spacing: 1px;
}

i{
	color: var(--accent);
}

p{
	padding-bottom: 2em;
}

a:link, a:visited{
	color: var(--accent);
  text-decoration: none;
  box-shadow: inset 0 -0.4em var(--accent-light);
}

a:hover, a:focus{
	color: #333;
}

#playlist{
	margin: -1.5em auto 2em;
	background-image: var(--list);
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%
}

#navigation{
	width: 90%;
	margin: 0 auto;
}

.prev{
	float: left;
}

.next{
	float: right;
	text-align: right;
}

#footer{
	margin: 2.5em auto 0;
	text-align: center;
	width: 90%;
}

.mobilenote{
	display: none;
}

@media only screen and (max-width: 1025px) and (min-width: 0) {
    
html {
-webkit-text-size-adjust: 100%;
}

#container{
	width: auto;
	position: relative;
}

.mobilenote{
	display: block;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 3% 5%;
    background: var(--body-border);
    color: var(--container);
    font-size: 90%;
    margin-left: -10%;
}

h1{
	margin-top: 1em;
}
}

